<script>
	$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        height : 600,
        width  : 650,
        events: '/reservations.json', 
    })

});
</script>

<div id='calendar'></div>